<div class="">
    <div class="footer ">
        <div class="container">
            <div class="row">
                <div class="col-md-4 card-body">
                    <h2>LOCATION</h2>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
                <div class="col-md-4 card-body">
                    <h2>AROUND THE WEB
                    </h2>
                    <div class="icons ">
                        <i class="fa-brands fa-facebook icon   mx-3"></i>
                        <i class="fa-brands fa-x-twitter icon   mx-3"></i>
                        <i class="fa-brands fa-linkedin-in icon  mx-3"></i>
                        <i class="fa-solid fa-globe mx-3  icon"></i>
                    </div>
    
                </div>
                <div class="col-md-4 card-body">
                    <h2>ABOUT FREELANCER</h2>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
    <div class="p ">
        <p>Copyright © Your Website 2024</p>
    </div>
</div>