<nav 
    class="navbar navbar-expand-sm navbar-light bg-light py-3 sticky-top"
>
    <div class="container">
        <a class="navbar-brand" routerLink="">START FRAMEWORK
        </a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0  ">
                <li class="nav-item me-5">
                    <a class="nav-link active" routerLink="about" routerLinkActive="btn  btn-danger" aria-current="page"
                        >ABOUT
                        <span class="visually-hidden">(current)</span></a
                    >
                </li>
                <li class="nav-item me-5">
                    <a class="nav-link active" routerLink="portfolio" routerLinkActive="btn  btn-danger" aria-current="page"
                        >PORTFOLIO
                        <span class="visually-hidden">(current)</span></a
                    >
                </li>
                <li class="nav-item me-5">
                    <a class="nav-link active" routerLink="contact" routerLinkActive="btn  btn-danger" aria-current="page"
                        >CONTACT
                        <span class="visually-hidden">(current)</span></a
                    >
                </li>
                
                
            </ul>
            
        </div>
    </div>
</nav>
