<div>
    <div class="text-center pt-4" style="color: rgb(44, 62, 80);">
        <h2 class="fs-1 fw-bold"> PORTFOLIO </h2>
        <div class="break d-flex justify-content-center align-items-center mb-3">
        <div class="line me-3 dark">
  
        </div>
        <i class="fa-solid fa-star "></i>
        <div class="line ms-3 dark">
      </div>
  
        </div>
      </div>
      <div class="container">
        <div class="row gy-5 mb-4">
            <div class="col-md-4">
                <div class="rounded-3 overflow-hidden position-relative">
                    <img class="w-100 rounded-3" src="../../assets/imgs/poert1.png" alt="">
                    <div class="layer position-absolute  top-0 w-100 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </div>
                </div>
               
            </div>
            <div class="col-md-4">
                <div class="rounded-3 overflow-hidden position-relative">
                    <img class="w-100 rounded-3" src="../../assets/imgs/port2.png" alt="">
                    <div class="layer position-absolute start-0 top-0 w-100 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rounded-3 overflow-hidden position-relative">
                    <img class="w-100 rounded-3" src="../../assets/imgs/port3.png" alt="">
                    <div class="layer position-absolute start-0 top-0 w-100 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rounded-3 overflow-hidden position-relative">
                    <img class="w-100 rounded-3" src="../../assets/imgs/poert1.png" alt="">
                    <div class="layer position-absolute start-0 top-0 w-100 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rounded-3 overflow-hidden position-relative">
                    <img class="w-100 rounded-3" src="../../assets/imgs/port2.png" alt="">
                    <div class="layer position-absolute start-0 top-0 w-100 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rounded-3 overflow-hidden position-relative">
                    <img class="w-100 rounded-3" src="../../assets/imgs/port3.png" alt="">
                    <div class="layer position-absolute start-0 top-0 w-100 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </div>
                </div>
            </div>
            
        </div>
      </div>
</div>